<div style="<%= @sessions[0].nil? ? 'display: none;' : 'display: block;' %>">
	<%= form_tag({}, {:method => :get}) do %>
		  <%= select(
	  			"session", "sessions_created_at",
			  	@created_at_uniq.collect {|created_at| [ created_at ] },
			  	{ prompt: 'Select a day' },
			  	:onchange => "this.form.submit();"
			  )
		%>
	<% end %><br>

	<%= link_to 'All sessions', sessions_path, method: :get %>
</div>