body {
	margin: 0;
	padding: 0;
}

h2 {
	padding: 0;
	margin: 3px;
	text-align: center;
}

.header {
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: baseline;
	padding: 15px 15px 10px 15px;
	color: white;
  background-color: rgba(23, 37, 87, 0.7);
  a {
    color: white;
    text-decoration: none;
  }
  .button_delete {
    padding: 5px;
    border: 1px solid white;
    font-style: bolder;
    border-radius: 5px;
  }
  .remove-data {
    text-align: right;
  }
}

.scroll {
	max-width: 95vw;
	max-height: 80vh;
}

.chartWrapper {
	display: block;
	margin: 0 auto;
	max-width: 95vw;
	max-height: 80vh;
}





input {
	background-color: transparent;
	color: white;
	padding: 5px;
	border: 1px solid white;
	font-style: bolder;	
	border-radius: 5px;
}
select{
	background-color: transparent;
	color: white;
	padding: 10px;
	border: 1px solid white;
	font-style: bolder;	
  cursor: pointer;
	border-radius: 5px;
}
option {
	color: white;
	background: rgb(122, 133, 173);
}

.upload {
  margin: 0;
  cursor: pointer;
  border: 1px solid white;
  color: white;
}
.upload_submit {
  height: 35px;
  padding: 5px;
  margin: 5px 0 0 0;
  cursor: pointer;
}

.description {
	margin: 10% 10% 6% 10%;
	.abnormal-description {
		padding-top: 25px;
	  width: 80%;
	  margin: 0 auto;
	  text-align: justify;
	}
}


